html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

header {
  background-image: url("/Users/jennykijowski/Desktop/Professional_Development/CodeAcademy/Tortoiseshell/resources/images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-top: 1rem;
}

.nav-container {
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.branding {
  display: flex;
  align-items: center;
}

.branding img {
  height: 1.5rem;
  padding-right: 1rem;
}

nav a,
.menu a {
  color: white;
  padding-left: 2rem;
}

.headline {
  position: relative;
  margin-top: 14rem;
  right: -2rem;
  display: flex;
  justify-content: flex-end;
}

.headline span {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

.services-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 8rem;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}

.exams,
.fittings,
.delivery {
  width: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.exams img {
  width: 3.5rem;
}

.fittings img,
.delivery img {
  width: 100%;
}

.service-text {
  text-align: center;
}

.about-container {
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
}

.about-top {
  width: 10rem;
}

.philosophy,
.appointments {
  width: 35%;
  padding-right: 5%;
}

.philosophy span,
.appointments span {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
}

.philosophy p,
.appointments p {
  padding-top: 1rem;
}

footer {
  padding-top: 4rem;
}
footer .container {
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media only screen and (min-width: 1024px){
  .menu a {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding-top: 0rem;
  }
  header {
  height: 22rem;
}
  .headline {
    margin-top: 5rem;
    right: 2rem;
  }
  .headline span {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }
  .menu a {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  header {
    height: 17rem;
    background-position: 20%;
  }
  .business-name {
    display: none;
  }
  nav a {
    display: none;
  }
  .menu a {
    display: block;
  }
  .headline {
    margin-top: 9rem;
    justify-content: center;
    right: 0rem;
    width: 100%;
  }
  .headline span {
    font-size: 1rem;
    padding-top: 1rem;
    width: 100%;
    text-align: center;
  }
  .services-container {
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .exams,
  .fittings,
  .delivery {
    margin-top: 1.54rem;
  }
  .service-text {
    font-size: 0.77rem;
    padding-top: 1.5rem;
  }
  .about-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  .philosophy,
  .appointments {
    width: 100%;
    margin-bottom: 4rem;
  }
  .about-top {
    width: 100%;
  }
  .about-top span {
    display: block;
    text-align: center;
  }
  .philosophy p,
  .appointments p {
    font-size: 0.77rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  footer span {
    display: none;
  }
  
}
